@import "tailwindcss";

.main-button {
    background-color: #14928D;
    color: white;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

img {
    user-select: none !important;
    -webkit-user-drag: none !important;
}